<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="/assets/css/theme.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/slick.js"></script>
    <script src="/assets/js/perfect-scrollbar.js"></script>
    <script src="/assets/js/panelmenu.js"></script>
    <script src="/assets/js/instafeed.js"></script>
    <script src="/assets/js/countdown.js"></script>
    <script src="/assets/js/lazyLoad.js"></script>
    <script src='/assets/js/epub.js' />
    </script>
    <script src='/assets/js/app.js' />
    </script>
    {% for script in layout.head %}
    {% include {{ script }} %}
    {% endfor %}
</head>